<!--<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Dashboard</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      Dashboard
    </mat-card-content>





  </mat-card>
</div>-->




<!--<div class="container" >

  <div class="row">
    <h2>hamza</h2>
  </div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Dashbord
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="chartg">


      <div class="card">
        <p-chart type="bar" [data]="basicData" [options]="basicOptions" />
      </div>


    </mat-card-content>
  </mat-card>
</div>-->


<!-- Start card -->
<div class="container  " style="padding: 30px ; ">
  <div class="row justify-content-center">

    <div class="col-lg-3 col-md-6 col-sm-6 p-3">
      <div class="card card-stats">
        <div class="card-header styleText">
          <h4 class="card-title text-center ">Chiffre Global</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="bi bi-currency-exchange" style="font-size: 3em;"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category"></p>
                <p class="card-title h2" >100</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 p-3">
      <div class="card card-stats">
        <div class="card-header styleText">
          <h4 class="card-title text-center">Nombre de  Clients</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">

                <i class="bi bi-people-fill" style="font-size: 3em;"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category"></p>
                <p class="card-title h2" >200p>
              </div>
            </div>
          </div>
        </div>
        <!--<div class="card-footer">
          <hr>
          <div class="stats h3">
            Chiffre Globale
          </div>
        </div>-->
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 p-3">
      <div class="card card-stats">
        <div class="card-header styleText">
          <h4 class="card-title text-center">Panier moyen</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="bi bi-basket3-fill" style="font-size: 3em;"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category"></p>
                <p class="card-title h2" >600<p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>







  </div>

</div>


<!-- End card -->


<!-- Start table 1 -->

<div class="container">

  <table class="table table-bordered table-striped mb-0 ">
    <thead style="background-color: #58D68D;">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Site</th>
      <th scope="col">CA</th>
      <th scope="col">A-1</th>
      <th scope="col">FREQ</th>

    </tr>
    </thead>
    <tbody>

    <tr >
      <td style="font-size: 10px; font-weight: bold" >1</td>
      <td style="font-size: 10px; font-weight: bold" >CASA</td>
      <td style="font-size: 10px; font-weight: bold" >120</td>
      <td style="font-size: 10px; font-weight: bold" >180</td>
      <td style="font-size: 10px; font-weight: bold" >2</td>
      <!--                                                              <td th:text="${#numbers.formatDecimal(t[2], 0, 'COMMA', 2, 'POINT').replace(',', ' ')}"></td>-->
      <!--                                                              <td th:text="${#numbers.formatDecimal(t[3], 0, 'COMMA', 2, 'POINT')}"></td>-->
    </tr>

    </tbody>
  </table>

</div>

<!-- End table1 -->



<!-- Start graphe  -->

<div class="container">









  <div class="card">
    <p-chart type="bar" [data]="basicData" [options]="basicOptions" />
  </div>



</div>

<!-- End graphe -->





<!-- Start table 2 -->



<!-- End table 2 -->
